.contenido 
{
    padding-top: 80px;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
}

.main{
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-content: center;
    border: 2px solid black; 
    border-radius: 5px;

}